@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;

    box-sizing: border-box;
}

:root {
    --primary-color: #4267AA;
    --secondary-color: #42A5B1;
    --accent1-color: #F3DFBF;
    --accent2-color: #EB8A90;

    --heading-font: 'Roboto Slab', serif;
    --paragraph-font: 'Lexend', serif;

    --nav-background-color: #F3DFBF;
    --nav-link-color: #4267AA;
    --nav-hover-link-color: #4267AA;
    --nav-hover-background-color: #EB8A90;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 9px;
    background-color: var(--accent1-color);}

p {
    padding: 5px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero div {
    position: relative;

}



.hero h1 {
    position: absolute;

    top: 315px;
    left: 425px;
}

.hero article {
    position: absolute;
    width: 20%;
    height: auto;
    top: 450px;
    right: 625px;
    float: right;
    

}


.hero img {

    display: block;
    width: 100%;
    height: auto;
    
}

.hero article p {
    position: absolute;
    padding: 50px;
    top: 0px;
    right: 300px;
    width: 131%;
    height: auto;
    background-color: aqua;

}