/* Comment */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;

    box-sizing: border-box;
}

:root {
    --primary-color: #4267AA;
    --secondary-color: rgb(66, 165, 176);
    --accent1-color: rgb(243, 223, 191);
    --accent2-color: rgb(235, 138, 144);

    --heading-font: 'Roboto Slab', serif;
    --paragraph-font: 'Lexend', serif;

    --nav-background-color: #F3DFBF;
    --nav-link-color: #4267AA;
    --nav-hover-link-color: #4267AA;
    --nav-hover-background-color: #EB8A90;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 120px, 1fr, 2fr,;
    display: flex;  
    align-items: center;
    justify-content: space-around;


    padding: 9px;
    background-color: var(--accent1-color);
}


p {
    padding: 5px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;

    display: flex;

}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;


}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}



.hero h1 {
    position: absolute;
    background-color: rgb(243, 223, 191, .7);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 55px;
}

.hero article {
    position: absolute;
    max-width: 90%;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(243, 223, 191, .7);
    padding: 5px;
}


.hero article img {
    float: right;
    width: 200px;
}

.history h2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adventure {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.adventure :nth-child(1){
    width: 130px;
    height: auto;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sociallinks :nth-child(2) img{
    width: 70px;
    height: auto;
}