/* Comment */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;

    box-sizing: border-box;
}

:root {
    --primary-color: #0f306e;;
    --secondary-color: rgb(66, 165, 176);
    --accent1-color: rgb(243, 223, 191);
    --accent2-color: rgb(235, 138, 144);

    --heading-font: 'Roboto Slab', serif;
    --paragraph-font: 'Lexend', serif;

    --nav-background-color: #F3DFBF;
    --nav-link-color: #0f306e;
    --nav-hover-link-color: #4267AA;
    --nav-hover-background-color: #EB8A90;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
    display: flex;  
    align-items: center;
    justify-content: space-around;


    padding: 9px;
    background-color: var(--accent1-color);
}


p {
    padding: 5px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;

    display: flex;

}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;


}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    background-color: rgb(243, 223, 191, .7);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 55px;
}

.hero h2 {
    position: absolute;
    font-size: 50px;
    background-color: rgb(243, 223, 191, .7);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    
    top: 55px;
}

.hero article {
    position: absolute;
    max-width: 90%;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(243, 223, 191, .7);
    padding: 5px;
}


.hero article img {
    float: right;
    width: 200px;
}

.history h2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adventure {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adventure h2{

    display: flex;
    justify-content: space-between;
}


.adventure :nth-child(1){
    width: 130px;
    height: auto;

}



.sociallinks :nth-child(2) img{
    width: 70px;
    height: auto;
}


iframe {
    padding-bottom: 50px;
}



.em {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.em h2{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 778px;

}


.em :nth-child(1){
    width: 300px;
    height: auto;

}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;

}


/* Form formating */

form {
    width: 500px;
    margin: 0 auto;
	padding: 25px;
    border: 10px;
    border-radius: 0%;
    background-color: var(--accent1-color);
    display: grid;
    margin-top: 50px;
}

fieldset {

    display: grid;
    grid-gap: 15px;

}

legend {
    color: rgb(0, 0, 0);
    background-color: var(--accent1-color);
    padding: 3px;

}

label {
    text-align: right;
    padding-right: 1rem;


}

input, select, textarea {
    font-size: larger;
    padding: 1rem;


}

/* input[type="checkbox"] {
    width: 15px;
    height: 15px;


} */

button {
    margin-top: 10px;
    background-color: rgb(193, 202, 202);
    font-size: 25px;

}

button:hover {
    background-color: var(--nav-hover-background-color);
}


.form-item {
    display: grid;
    align-items: center;
}



.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 15px;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 15px;
}




/* trips page */

.grid_contact {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 50px;
    padding-bottom: 110px;
    grid-gap: 5px;
    background-color: #F3DFBF;
    border-top: solid black;
}

.grid_contact p {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 25px;

}

.grid_contact a {
    font-size: 2rem;
    text-align: center;
    background-color: var(--nav-background-color);
    padding: 10px;
}

.grid_contact a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}



.grid_trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;


}

.grid_trips figure img {
    max-width: 100%;
}


.trips_header {
    text-align: center;
    padding-bottom: 10px;
}




thead {
    background-color: #F3DFBF;
    color: #0f306e;
}

table, td {
    border: 1px solid #333;
    border-collapse: collapse;
    margin-top: 50px;
}

td, tr {
    padding: 5px;
}


/* home page */


.reserve_trip {
    margin-top: 50px;
    background-color:  rgb(243, 223, 191);
    font-size: 25px;
    text-align: center;
    margin-bottom: -50px;

}

.reserve_trip a {
    text-decoration: none;
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
    border: #333 solid;
}

.reserve_trip a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}



.grid_home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 75px;


}

.grid_home figure img {
    max-width: 100%;
}