*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    background-color: steelblue;
    padding: 1rem;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;

    
}

h1 {
    color: steelblue;
    border-bottom: solid steelblue;
    padding: .5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;

    float: right;
}

p{
    padding: 0;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}


aside {
    text-align: center;   
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    right: 325px;
    position: absolute;

}

footer {
    margin-top: 20px;
    border-top: solid black;
    text-align: center;
}


/*Class Selectors*/

.box {
    margin: 1rem;
    border: 5px solid rgb(26, 27, 78);
    padding: 1rem;
    background-color: #008a6e;
    color: black;
}

.grid {
    display: grid;
    align-items: center;
}